.checkAndLabel {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #222222;
  border-color: green;

  & input {
    margin: 0;
    cursor: pointer;
    width: 20px; /* Adjust size as needed */
    height: 20px;
    appearance: none; /* Remove default checkbox styling */
    border: 1px solid #828282;
    border-radius: 4px;
    background-color: white; /* Default background */
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }



  & input::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 10px;
    border: solid green; /* Green checkmark */
    border-width: 0 2px 2px 0;
    display: none; /* Initially hidden */
  }

  & input:checked::after {
    display: block; /* Show checkmark when checked */
  }

  & label {
    font-size: 1.2rem;
  }
}

.label {
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: start !important;
  white-space: nowrap;
}

.error {
  font-size: 1rem;
  color: red;
}
