

.container {
  padding: 2rem;
  max-height: 85vh;
  overflow-y: auto;
}

.backBtn {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: #333;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    color: var(--color-primary-green);
  }
}

.header {
  font-size: 2rem;
  font-weight: 600;
//   margin-bottom: 1rem;
    margin: 0;
}



.listWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.itemBox {
  padding: 1rem;
  background: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;

  &:hover {
    background: #e8f8ee;
  }
}

.itemText {
  color: #444;
}

.arrow {
  color: var(--color-primary-green);
}

/* Tablet */
@media (max-width: 1024px) {
  .listWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .listWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}




.myLocationBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem;
//   background: #f6f6f6;
  border-radius: 8px;
  margin-bottom: 2rem;
  cursor: pointer;
  margin-block-start: 2rem;
  width: 33%;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .icon {
    font-size: 1.6rem;
    background-color:#0099001A;
    border-radius: 50%;
    padding: 0.6rem;
  }

  .texts {
    display: flex;
    flex-direction: column;
  }

  .main {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .sub {
    font-size: 1.2rem;
    color: #888;
  }

  .arrow {
    font-size: 1.8rem;
    color: #999;
  }
}

.itemBox {
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #ececec;

  &:hover .itemText {
    color: var(--color-primary-green);
  }
}

.backBtn {
  background: none;
  border: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between; // pushes them to opposite ends
  gap: 12px; // space between them if needed
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between; // pushes them to opposite ends
  gap: 12px; // space between them if needed
}

.header {
  white-space: nowrap;   // prevents "My Location" from breaking to next line
}

.searchWrapper {
  position: relative;
  flex: 1;               // search takes remaining space
}

.search {
  width: 30%;
  padding: 10px 12px 10px 36px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}
