.card {
  margin: 1rem;
  padding: 0px !important;
}

.greenContainer {
  background: linear-gradient(180deg, #009900 0%, #2fce2f 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: 1240px;
  height: 284px;
  margin-block: 40px;
  border-radius: 2px;
  padding-inline: 30rem;

  & p:nth-child(1) {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    padding-block-start: 40px;
    padding-block-end: 16px;
  }

  & p:nth-child(2) {
    color: #eeeeee;
    font-weight: 400;
    font-size: 16px;
  }
}

.cardContainer {
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 1; /* Added gap between cards */
    justify-content: center; /* Centers cards horizontally */
    align-items: center;
    flex-direction: row;
  }
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cardImage {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cardContent {
  padding: 16px; // Adjust for spacing
}

.cardTitle,
.cardAddress,
.cardPhone,
.category {
  text-align: left;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 80%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.selectBox {
  border: none;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: rgb(212, 212, 212);
}
