.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 85vw; /* 90% of the viewport width */
  justify-content: center; /* Center the card horizontally */
  margin: 0 auto; /* Center the card horizontally on the screen */
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 23%; /* Adjust width so that four columns fit in 90% of screen */
  text-align: start;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-primary-green);
  display: flex;
}

.item {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

/* Media query for tablet and small screens (max-width: 1024px) */
@media (max-width: 1024px) {
  .column {
    width: 48%; /* Two columns per row on tablets and small screens */
  }
}

/* Media query for mobile screens (max-width: 600px) */
@media (max-width: 600px) {
  .column {
    width: 45%; /* Two columns per row on mobile */
  }

  .title {
    font-size: 16px; /* Slightly smaller titles for mobile */
  }

  .item {
    font-size: 14px; /* Slightly smaller font size for mobile */
  }
}
