.container {
  margin-block: 3rem;
  margin-inline: 5rem;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 8rem;
    box-shadow: 0px 4px 40px 0px #0099001a;
  }

  & h2 {
    font-size: 1.5rem;
    margin-block: 1.4rem;
    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 2.4rem;
      margin-block: 1.6rem;
    }
  }

  & p {
    font-size: 1.4rem;
    margin-block: 2rem;
    @media screen and (min-width: 768px) {
      margin-block: 2rem;
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
}
