.container {
  display: flex;
  justify-content: space-between;
  padding-inline: 7rem;
  padding-block: 2.4rem;
}

.middleNav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

a {
  white-space: nowrap;
}

.btn {
  padding-inline: 3rem;
}

.navLink {
  color: #707070;
  text-decoration: none;
  padding-bottom: 0.6rem;
  transition: color 0.3s;

  &:hover {
    color: green;
  }
}

.activeNavLink {
  color: green;
  border-bottom: 2px solid green;
  padding-inline: 1rem;
}
