name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.9.0'

    - name: Create .env
      run: |
        echo "REACT_APP_BASE_URL=${{ secrets.REACT_APP_BASE_URL }}" > .env
        cat .env  # Debugging step to verify contents

    - name: Install Dependencies
      run: npm ci --legacy-peer-deps 

    - name: Build React App
      run: |
        export CI=false 
        npm run build  

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Deploy to Server
      env:
        SERVER_IP: ${{ secrets.SERVER_IP }}
        SERVER_USER: ${{ secrets.SERVER_USER }}
      run: |
        ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts
        
        ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP << 'EOF'
          cd /var/www/blinkers-web-app
          
          sudo chown -R $USER:$USER .
          
          git reset --hard        # Discard any local changes
          git clean -fd           # Remove untracked files
          git pull origin main --rebase  # Pull the latest changes

          sudo chown -R www-data:www-data /var/www/blinkers-web-app
          sudo chmod -R 755 /var/www/blinkers-web-app
        EOF

        rsync -avz --delete-after \
          ./build/ $SERVER_USER@$SERVER_IP:/var/www/blinkers-web-app-admin/build

        ssh -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP << 'EOF'
          sudo systemctl restart nginx
        EOF
